body {
  text-align: left;
  font-family: 'Amiri', serif;
  font-size: 1.1rem;
  color: #393E46;
  background-color: #FFFDF9;
}

p {
  margin: 0;
}


/* TEXTBOXES */
.content {
  margin: 50px auto 50px auto;
  width: 90%;
  text-align: center;
  position: relative;
}

.top-content {
  margin-top: 140px;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.description {
  background-color: #F9F3F3;
  padding: 40px;
  position: relative;
}

.description-a {
  width: 58%;
}

.description-b {
  width: 40%;
}

@media (max-width: 640px) {
  .description-a {
    display: block;
    width: 100%
  }

  .description-b {
    display: block;
    width: 100%
  }
}

h1 {
  font-family: 'Dancing Script';
  color: #E5CDCD;
  margin-bottom: 30px;
  text-align: left;
}

h5 {
  text-align: left;
  padding: 10px 0 5px 0;
  font-weight: bold;
}

.description p {
  padding: 10px 0;
  text-align: left;
}


/* DECORATION */
.flowers-div {
  width: 90%;
  margin: auto;
  text-align: center;
}

.flower {
  width: 40px;
  height: 40px;
}

.flower-1b {
  position: absolute;
  right: 5%;
  top: 100%;
}

.flower-2b {
  position: absolute;
  right: 0;
  top: 105%;
}

.flower-3b {
  position: absolute;
  right: -5%;
  top: 100%;
}

.shadow {
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius: 10px;
}


/* NAVBAR */
.navbar {
  padding: 0;
  font-size: 1rem;
}

.container-fluid {
  background-color: #F9F3F3;
  height: 70px;
}

.navbar-header {
  text-align: center;
}

.navbar-header a {
  color: #393E46;
}

.navbar-header a:hover {
  color: #393E46;
}

.navbar-brand {
  font-family: 'Cormorant SC', serif;
  font-size: 2rem;
  padding: 0;
  height: 40px;
  border: none;
  border-bottom: 1px solid #B34180;
  margin: 0;
}

.hamburger-button {
  width: 30px;
  height: 30px;
  padding: 0;
}

.navbar-toggler-icon {
  width: 20px !important;
  height: 20px !important;
}

.active {
  border-bottom: solid  #B34180;
  border-width: 1px;
}

.left-button-test {
  background: url(../images/testkezeles.jpg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.right-button-test {
  width: 30px;
  height: 30px;
}

.right-button-test:hover {
  background-size: 0 0, cover;
}

.left-button-koz {
  width: 30px;
  height: 30px;
}

.right-button-koz {
  background: url(../images/kozmetika.jpg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.left-button-koz:hover {
  background-size: 0 0, cover;
}

.navbar-buttons {
  padding-left: 5px;
}


/* INTRO */
.top-container {
  width: 50%;
  margin: 100px auto;
  background-color: #F9F3F3;
  padding: 20px 30px;
  position: relative;
  border-radius: 10px;
}

.flower-1 {
  position: absolute;
  right: 5%;
  bottom: 100%;
}

.flower-2 {
  position: absolute;
  right: 0;
  top: -5%;
}

.flower-3 {
  position: absolute;
  right: -5%;
  bottom: 100%;
}

hr {
  border: none;
  border-top: 1px solid #B34180;
  width: 30%;
  margin: 20px auto;
}

.center-text {
  text-align: center;
}


/* BUTTONS */
.middle-container {
  text-align: center;
  margin: 100px auto;
  width: 400px;
  height: 150px;
  position: relative;
}

button {
  width: 150px;
  height: 150px;
  font-family: 'Cormorant SC', serif;
  color: #822659;
  border: none;
  text-align: center;
  border-radius: 50%;
}

.test-inactive {
  background:
    url(../images/testkezeles_inactive.png) no-repeat,
    url(../images/testkezeles.jpg) no-repeat;
  background-size: cover;
}

.kozm-inactive {
  background:
    url(../images/kozmetika_inactive.png) no-repeat,
    url(../images/kozmetika.jpg) no-repeat;
  background-size: cover;
}

.left-button {
  margin-right: 20px;
}

.right-button {
  margin-left: 20px;
}

.left-button::before {
  content: '';
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #822659;
  margin-left: -50px;
  margin-top: -40px;
  z-index: -1;
  position: absolute;
}

.right-button::before {
  content: '';
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #822659;
  margin-left: -50px;
  margin-top: -40px;
  z-index: -1;
  position: absolute;
}

 .big-fly {
  position: absolute;
  width: 60px;
  height: 60px;
}

.butterfly-1 {
  left: 1%;
}

.butterfly-2 {
  right: 30%;
}

.small-fly {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: rotate(-20deg);
}

.butterfly-3 {
  left: 30%;
  bottom: 5%;
}

.butterfly-4 {
  right: 4%;
  bottom: 5%;
}

.butterfly-5 {
  left: 23%;
  bottom: 0;
}

.butterfly-6 {
  right: 11%;
  bottom: 0;
}


/* BOTTOM & FOOTER */
.bottom-container {
  padding-top: 10px;
  margin-top: 200px;
  font-size: 0.8rem;
  text-align: center;
  background-color: #F9F3F3;
  color: #686D76;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0 5px;
}

a:hover {
  color: #E36BAE;
}

.footer-text {
  margin-top: 10px;
}

.advertisement {
  font-style: italic;
}


/* ZSÍRTÖRÉS */
.img-narancs1 {
  width: 70%;
}

.img-narancs2 {
  width: 90%;
}

ul {
  text-align: left;
}

.img-narancs4 {
  width: 99%;
}

.img-narancs5 {
  width: 50%;
}

/* TANITY */
.img-tanity1 {
  width: 50%;
}

.img-tanity2 {
  width: 80%;
  margin-top: 20px;
}

.img-tanity4 {
  width: 80%;
}

/* EMS*/
.img-ems {
  width: 60%;
}

/* ÁRAINK */
table {
  text-align: left;
  table-layout: fixed;
}

/* ELÉRHETŐSÉG */
.img-terkep {
  width: 70%;
}

/* KOZMETIKA */
.img-kozmetika {
  width: 70%;
}
